@model WebAtividadeEntrevista.Models.BeneficiarioModel
@Html.ValidationSummary(true, "", new { @class = "text-primary" })
<div class="modal fade" id="modalBeneficiarios" tabindex="-1" role="dialog" aria-labelledby="beneficiariosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="beneficiariosModalLabel">Beneficiarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="formAdicionarBeneficiario" method="post" >
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.CPFBeneficiario, htmlAttributes: new { })
                            @Html.EditorFor(model => model.CPFBeneficiario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex.: 010.011.111-00" } })
                            @Html.ValidationMessageFor(model => model.CPFBeneficiario, "", new { @class = "text-primary" })
                        </div>
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.NomeBeneficiario, htmlAttributes: new { })
                            @Html.EditorFor(model => model.NomeBeneficiario, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.NomeBeneficiario, "", new { @class = "text-primary" })
                        </div>
                        <div class="col-md-2" style="margin-top:4%">
                            <button type="submit" class="btn btn-success mb-2" id="incluirBeneficiario">Incluir</button>
                        </div>
                    </form>
                </div><br />
                <div class="table-responsive">
                    <table class="table table-striped" id="tabelaBeneficiarios">
                        <thead>
                            <tr>
                                <th scope="col" style="display: none">Id</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Nome</th>
                                <th scope="col" colspan="2">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Beneficiários</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="IdBeneficiario">ID</label>
                        <input type="text" class="form-control" id="IdBeneficiario" placeholder="ID" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="NomeBeneficiario">Nome</label>
                        <input type="text" class="form-control" id="NomeBeneficiario" placeholder="Nome" />
                    </div>
                    <div class="form-group">
                        <label for="CPFBeneficiario">CPF</label>
                        <input type="text" class="form-control" id="CPFBeneficiario" placeholder="CPF" />
                    </div>
                    <div class="form-group">
                        <label for="IdCliente">IdCliente</label>
                        <input type="text" class="form-control" id="IdCliente" placeholder="IdCliente" style="display: none;"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnAdd" onclick="return Add();">Incluir</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Atualizar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>